name: Build and publish cloudflared-with-auto-dns-route docker image
on:
  push:
    branches:
    - main
    paths:
    - 'image-definition/**'
    - '.github/workflows/publish.yml'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    env:
      image_name: cloudflared-with-auto-dns-route

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: recursive

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - id: extract_cloudflared_image_tag
        run: |
          image_tag="$(grep -P -o "(?<=^FROM cloudflare/cloudflared\:)([0-9]+\.[0-9]+\.[0-9]+)" image-definition/Dockerfile)"
          echo "::set-output name=image_tag::${image_tag}"

      # Docker does not allow uppercase letters for image name, so we must replace repository_owner and so on
      - id: prepare_image_id
        name: Prepare image id's components
        run: |
          lowercase_id=ghcr.io/${{ github.repository_owner }}/${{ env.image_name }}
          echo "::set-output name=lowercase_id::$(echo $lowercase_id | tr '[A-Z]' '[a-z]')"

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ steps.prepare_image_id.outputs.lowercase_id }}
          tags: |
            type=sha
            type=raw,value=${{ steps.extract_cloudflared_image_tag.outputs.image_tag }}

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ./image-definition
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
